@media (min-width: 880px) {

    .container {
        display: flex;
        justify-content: space-between;
    }

    .review {

        .review__content {
            width: 38%;

            .review__title {
                font-size: 3.5rem;
            }

            h1,
            p {
                text-align: left;
            }
        }

        .review__ratings {
            display: flex;
            flex-direction: column;
            width: 50%;

            .rating__container {
                display: flex;
                align-items: center;
                width: 80%;
                padding: .9em;

                p {
                    margin-left: 1em;
                    padding: 0;
                }
            }

            .stars {
                width: 27%;
                margin: 0;
                padding: 0;
            }
        }
    }

    .review__cards {
        display: flex;
        min-height: 17em;
        margin-top: 2em;
        gap: 2em;

        .user__card {
            max-height: 13em;
        }
    }

    .center {
        align-self: center;
    }

    .right {
        align-self: flex-end;
    }

    .center--vertical {
        align-self: center;
    }

    .right--vertical {
        align-self: flex-end;
    }
}